<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/flora_title/fevicon.ico">

    <!-- CSS Libraries --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">   
    <link href="/static/openmic/lib/slick/slick.css" rel="stylesheet">
    <link href="/static/openmic/lib/slick/slick-theme.css" rel="stylesheet">    

    <!-- Template Stylesheet -->
    <link href="/static/openmic/css/style.css" rel="stylesheet">

<style> 
body {
  background-color: whitesmoke;
  padding: 20px;
  font-family: Arial;
}
.col-md-6 li {
  color:#0066cc;
  font-size:17px;
}
img {
  width:100%;
  object-fit: contain
}



</style>
</head>
<title>OneFlora</title>

<body>
<div class="container">
        <div class="bg-light clearfix">
            <div class="pull-left">
                <h2>OneFlora</h2>
            </div>
            <div class="pull-right">
                <h3 style="font:Helvetica;">Observe&ensp;&rArr;&ensp;Differentiate&ensp;&rArr;&ensp;Identify&ensp;&rArr;&ensp;NURTURE</h3>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Search Flora</a> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li> <a href="/flora">Flora</a></li>
                        <li> <a href="/compare_flora">Compare Flora</a></li>
                        <li> <a href="/search_flora">Search Flora</a></li>                        
                        <!--<li> <a href="/photo_gallery">Photo Gallery</a> </li>-->
                        <li class="active"><a href="/openmic">Open Mic</a> </li>
                        <!--<li> <a href="/reference_links">Reference Links</a></li>-->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- Top News Start-->
        <div class="top-news">
            <div class="row">
                <div class="col-md-6 tn-left">
                    <div class="row tn-slider">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/blog/img/Field_Botany.jpg" />
                                <div class="tn-title">
                                    <a href="static/openmic/blog/Website_story.html" target="_blank" rel="noopener noreferrer">Story of OneFlora - Learning to 'Observe'​ surroundings</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/img/All_welcome.jpg" />
                                <div class="tn-title">
                                    <a  href="/static/openmic/img/All_welcome.jpg">You are ALL welcome to contribute</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 tn-right">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/img/Botany_records.jpg" />
                                <div class="tn-title">
                                    <a href="/static/openmic/img/Botany_records.jpg">Wish to contribute Floral records & Photos?</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/img/Web_Tech.jpg" />
                                <div class="tn-title">
                                    <a href="/static/openmic/img/Web_Tech.jpg">Wish to build better web interface?</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/img/Your_Story.jpg" />
                                <div class="tn-title">
                                    <a href="/static/openmic/img/Your_Story.jpg">Do you have a nature conservation story to share?</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="tn-img">
                                <img src="/static/openmic/img/Citizen_science.jpg" />
                                <div class="tn-title">
                                    <a href=/static/openmic/img/Citizen_science.jpg>Do you need platform to spread word about your activity?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top News End-->


        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Citizen Initiative</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/blog/Img/Pune_Rainfall.jpg" />
                                    <div class="cn-title">
                                        <a href="/static/openmic/blog/Img/Pune_Rainfall.jpg">Rainfall monitoring @ Pune - Abhijit Gandhi</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/blog/Img/Bird_Pattern.jpg" />
                                    <div class="cn-title">
                                        <a href="/static/openmic/blog/Img/Bird_Pattern.jpg">Bird rousting pattern @ Pune - Abhijit Gandhi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>About OneFlora</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/blog/img/Field_Botany.jpg" />
                                    <div class="cn-title">
                                        <a href="static/openmic/blog/Website_story.html">Story of OneFlora - Learning to 'Observe'​ surroundings</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/news-350x223-5.jpg" />
                                    <div class="cn-title">
                                        <a href="">Story of OneFlora - Building a website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- Category News End-->

        <!-- Category News Start-->
        <div class="cat-news">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Book Reviews</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/news-350x223-5.jpg" />
                                    <div class="cn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/news-350x223-4.jpg" />
                                    <div class="cn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/news-350x223-3.jpg" />
                                    <div class="cn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2>External Links</h2>
                        <div class="row cn-slider">
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <iframe src="https://www.youtube-nocookie.com/embed/MzJcYp4uVps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <div class="cn-title">
                                        <a href="https://www.youtube.com/watch?v=MzJcYp4uVps&t=1s" style="font-size:15px;" target="_blank" rel="noopener noreferrer">Abutilon ranadei, Lost Flower Regained - Dr. Mandar Datar, ARI </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/Kavi_Bhushan.jpg" />
                                    <div class="cn-title">
                                        <a href="http://chinmay-datar.blogspot.com/2010/02/blog-post_19.html" target="_blank" rel="noopener noreferrer">चंपा सिवराज है! - कवि भूषण</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cn-img">
                                    <img src="/static/openmic/img/Acacia_Vachellia.jpg" />
                                    <div class="cn-title">
                                        <a href="https://christiankull.net/2011/05/10/the-acacia-name-change-%E2%80%93-botany-and-emotion/" target="_blank" rel="noopener noreferrer">Battles in Botany - Acacia vs Vachellia</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Category News End-->


        <!-- Main News Start-->
        <div class="main-news">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-1.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-2.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-3.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-4.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-5.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-1.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-2.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-3.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mn-img">
                                    <img src="/static/openmic/img/news-350x223-4.jpg" />
                                    <div class="mn-title">
                                        <a href="">Lorem ipsum dolor sit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="mn-list">
                            <h3>Indian Flora</h3>
                            <ul>
                                <li><a href="http://www.flowersofindia.net/" target="_blank" rel="noopener noreferrer">Flowers of India</a></li>
                                <li><a href="https://sites.google.com/site/efloraofindia/home" target="_blank" rel="noopener noreferrer" >eFlora of India</a></li>
                                <li><a href="https://www.aurovilleherbarium.org/menu_species.php" target="_blank" rel="noopener noreferrer">Auroville Virtual Herbarium</a></li>
                                <li><a href="https://www.plantekey.com/" target="_blank" rel="noopener noreferrer">Plant Key - By Auroville Botanical Gardens</a></li>
                                <li><a href="https://efloraindia.bsi.gov.in/eFlora/homePage.action" target="_blank" rel="noopener noreferrer">Botanical Survey of India</a></li>
                            </ul>
                            <h3>Global Flora</h3>
                            <ul>
                                <li><a href="http://www.plantsoftheworldonline.org/" target="_blank" rel="noopener noreferrer">Plants of the World Online</a></li>
                                <li><a href="https://www.ipni.org/" target="_blank" rel="noopener noreferrer">International Plant Name Index (IPNI)</a></li>
                            </ul>
                            <h3>Botanical Family</h3>
                            <ul>
                                <li><a href="http://satishphadke.blogspot.com/" target="_blank" rel="noopener noreferrer">SATISFIED: Blogs by Mr Satish Phadke, describing Botanical Families</a></li>
                                <li><a href="https://www.biologydiscussion.com/essay/dicotyledons-essay/dicotyledons-compilation-of-essays-on-dicotyledons-angiosperms-botany/77562" target="_blank" rel="noopener noreferrer" >Biodiversity Discussion</a></li>
                            </ul>
                            <h3>Botanical Names - Etymology</h3>
                            <ul>
                                <li><a href="https://davesgarden.com/guides/botanary/" target="_blank" rel="noopener noreferrer">Dave's Garden - Botanical Dictionary</a></li>
                            </ul>    
                            <h3>Plant Morphology-Books</h3>
                            <ul>
                                <li><a href="https://www.researchgate.net/publication/263285062_Manual_For_Field_Botany" target="_blank" rel="noopener noreferrer">Manual For Field Botany</a></li>
                                <span>Author: Dr. Vinaya Ghate, Dr. Hema Sane, Dr. Mandar Datar</span></br></br>
                                <li><a href="" target="_blank" rel="noopener noreferrer">Flora of Vetal Tekdi. Author: Dr. Satish Phadke</a></li>
                            </ul>                                                                                                              
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <footer>
                    <p>Contact - Mandar Joshi, 0091-9637527026, mandarsj11@gmail.com<br>
                       Copy Right - All images & text description on this site are copyrighted and may not be used without permission.</p>
                </footer>    
            </div>
            <div class="col-lg-1">
                <a href="https://github.com/mandarsj11" target="_blank" rel="noopener noreferrer">
                    <img src="/static/openmic/img/github.JPG" style="width:60%;object-fit: contain;">
                </a>
            </div>
            <div class="col-lg-1">     
                <a href="https://www.linkedin.com/in/mandar-joshi-a21b587/" target="_blank" rel="noopener noreferrer">
                    <img src="/static/openmic/img/linkedin.JPG" style="width:60%;object-fit: contain;">
                </a>
            </div>
        </div>    
        <!-- Main News End-->
    
</div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/static/openmic/lib/slick/slick.min.js"></script>

<!-- Template Javascript -->
<script src="/static/openmic/js/main.js"></script>  
    
</body>
</html> 
