<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/flora_title/fevicon.ico">
<style> 
body {
  background-color: whitesmoke;
  padding: 20px;
  font-family: Arial;
}
.col-md-6 li {
  color:#0066cc;
  font-size:17px;
}

</style>
</head>
<title>OneFlora</title>
<body>
<div class="container">
    <div class="bg-light clearfix">
        <div class="pull-left">
            <h2>OneFlora</h2>
        </div>
        <div class="pull-right">
            <h3 style="font:Helvetica;">Observe&ensp;&rArr;&ensp;Differentiate&ensp;&rArr;&ensp;Identify&ensp;&rArr;&ensp;NURTURE</h3>
        </div>
    </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Search Flora</a> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li> <a href="/flora">Flora</a></li>
                        <li> <a href="/compare_flora">Compare Flora</a></li>
                        <li> <a href="/search_flora">Search Flora</a></li>                        
                        <!--<li> <a href="/photo_gallery">Photo Gallery</a> </li>-->
                        <li> <a href="/openmic">Open Mic</a> </li>
                        <li class="active"> <a href="/reference_links">Reference Links</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    <div class="row">
        <div class="col-md-6">
            <h3>Indian Flora links</h3>
            <ul>
                <a href="http://www.flowersofindia.net/" target="_blank" rel="noopener noreferrer">Flowers of India</a></br>
                <a href="https://sites.google.com/site/efloraofindia/home" target="_blank" rel="noopener noreferrer" >eFlora of India</a></br>
                <a href="https://www.aurovilleherbarium.org/menu_species.php" target="_blank" rel="noopener noreferrer">Auroville Virtual Herbarium</a></br>
                <a href="https://www.plantekey.com/" target="_blank" rel="noopener noreferrer">Plant Key - By Auroville Botanical Gardens</a></br>
                <a href="https://efloraindia.bsi.gov.in/eFlora/homePage.action" target="_blank" rel="noopener noreferrer">Botanical Survey of India</a></br>
            </ul>        
            <h3>Global Flora links</h3>
            <ul>        
                <a href="http://www.plantsoftheworldonline.org/" target="_blank" rel="noopener noreferrer">Plants of the World Online</a></br>
                <a href="https://www.ipni.org/" target="_blank" rel="noopener noreferrer">International Plant Name Index (IPNI) - why?</a></br>
            </ul> 
            <h3>Botanical Family links</h3>
            <ul>
                <a href="http://satishphadke.blogspot.com/" target="_blank" rel="noopener noreferrer">SATISFIED: Blogs by Mr Satish Phadke, describing Botanical Families</a></br>
            </ul> 
            <h3>Botanical Names - Etymology</h3>
            <ul>
                <a href="https://davesgarden.com/guides/botanary/" target="_blank" rel="noopener noreferrer">Dave's Garden - Botanical Dictionary</a></br>
            </ul> 
            <h3>Plant Morphology - Books</h3>
            <ul>
                <a href="https://www.researchgate.net/publication/263285062_Manual_For_Field_Botany" target="_blank" rel="noopener noreferrer">Manual For Field Botany</a></br>
                <span>Author: Dr. Vinaya Ghate, Dr. Hema Same, Dr. Mandar Datar</span></br></br>
                <span>Flora of Vetal Tekdi. Author: Dr. Satish Phadke</span></br>
            </ul>                     
        </div>
        <div class="col-md-6">
            <h3>Technology Stack used to build this Website</h3>
            <h3>Front end<h3>
            <ul>
                  <li>HTML - The standard markup language for Web pages</li>
                  <li>CSS  - The language used to style an HTML document</li>
                  <li>JavaScript - The programming language for the Website</li>
                  <li>Bootstrap - The HTML, CSS, and JavaScript framework for developing responsive, mobile-first website</li>
                  <li>AJAX - The technique for creating fast and dynamic web page - update parts of a web page, without reloading the whole page</li>
            </ul>
            <h3>Application Layer<h3>
            <ul>
                  <li>Python - Programming language for Data Science projects</li>
                  <li>Flask - Web framework. Python module that lets you develop web applications easily</li>
                  <li>Jinja2 - Template engine for Python. A web template system combines a template with a specific data source to render a dynamic web page</li> 
                  <li>Relevant data is accessed thru Excel Spreadsheet</li> 
                  
            </ul>      
            
        </div>
    </div>
    </br>
    </br>
</div>

</body>
</html> 
